.cp__sidebar-main-content {
	max-width: 100%;
}

/*#logseq-live-math--popup {
	width: 25dvw !important;
	height: 10dvh !important;
}

math-field {
	min-height: 5.5dvh !important;
}

math-field > span {
	line-height: 2em !important;
}*/

span.ML__container {
	font-size: 3em !important;
}
