.cp__sidebar-main-content {
	max-width: 100%;
}

math-field {
	font-size: 3em !important;
	min-width: 200%;
}

#logseq-live-math--popup {
	width: 35dvw !important;
	margin: 0 !important;
/* 	left: 5dvw !important; */
}
